.disable-scroll {
  overflow: hidden;
  padding-right: 0;
}

.disable-scroll .menubar {
  min-width: 100vw;
  padding-right: 30px;
}

.green-air__projects__container .hidden {
  display: none;
}

.green-air__project__filter__icons .deselected {
  opacity: 0.3;
}

.selected .green-air__projects__filter__button {
  background: #CED99D;
}

.green-air__projects__listview .green-air__projects__list-item:hover .green-air__projects__list__image__hover {
  display:block;
  pointer-events: none;
}

@media all and (min-width: 1201px) {
  .green-air__products__list .green-air__products__description__wrapper {
    opacity: 0;
  }

  .green-air__products__list .green-air__products:hover .green-air__products__description__wrapper {
    transition: opacity 0.3s linear;
    opacity: 100;
  }
}

.js__green-air__hover-carousel < * {
  transition: opacity 0.3s linear;
}

.js__green-air__hover-carousel .inactive-slide {
  opacity: 0;
}

.js__green-air__hover-carousel .active-slide {
  opacity: 1;
}

.js-about-us-nav {
  transition: opacity 0.3s linear;
}

.js-about-us-nav.js-visible.scrolled-away {
  opacity: 0;
  pointer-events: none;
}

.navbar .green-air__menu-expanded {
  top: -100vh;
  transition: top 0.3s linear;
}

.navbar .green-air__menu-expanded.expanded {
  top: 0;
}

.js-menu-btn {
  cursor: pointer;
  transition: opacity 0.3s 0.3s linear;
}

.navbar.js-remove-sticky {
  position: relative;
}

.green-air__menu__pages {
  opacity: 0;
}

.expanded .green-air__menu__pages {
  opacity: 1;
  transition: opacity 0.3s 0.3s linear;
}

.disable-scroll .js-menu-btn .menu {
  opacity: 0;
}

.disable-scroll .js-menu-btn .menu.close-icon {
  opacity: 1;
}

.green-air__splash-image.splash-visible {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  max-width: 100%;
}


.green-air__splash-image.splash-visible.splash-fade {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s linear;
}

.hover-underline {
  width: 0;
  transition: width 0.5s linear;
  pointer-events: none;
}

.div-hover-underline:hover .hover-underline {
  width: 100%;
  transition: width 0.5s linear;
  pointer-events: none;
}

.navbar:not(.js-remove-sticky) {
  transition: opacity 0.3s linear;
  height: 100px;
}

.navbar:not(.js-remove-sticky).scrolled-away {
  opacity: 0;
  pointer-events: none;
}

.green-air__aboutus__nav.js-about-us-nav.js-visible {
  background: transparent;
}

.js-alt-visible .desktop-menu-btn img:not(.close-icon),
.js-alt-visible .green-air__logo_img_link img {
  display: none;
}

.js-alt-visible .desktop-menu-btn img:not(.close-icon).js-alt,
.js-alt-visible .green-air__logo_img_link img.js-alt {
  display: inline-block;
}
